

.nav-link{
    color:white;
}


body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

.cover {
  padding: 18% 10%;
  text-align: center;
  
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
  text-align: justify;
}

.lead{
    text-align: justify;
    text-indent: 3,5em;
}

.ikonka{
  font-size: 800%!important;
  margin-top: 30%;
}

.section2{
  padding:5% ;
}

.opis{
  text-align: justify;
  text-indent: 1em;
}